.button{
    width: 50px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    margin: 2px;
    text-align: center;
    font-size: 45px;
    float: left;
    cursor: pointer;
}

.button:hover{
    color: white;
    background-color: grey;
    box-shadow: 1px 1px black;
}

.button:active,.clear:active {
    transform: translateY(1px);
  }

.answer-box{
    font-size: 20px;
    float: left;
    width: 218px;
    height: 35px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    margin: 2px;
}

.clear{
    cursor: pointer;
    text-align : center;
    font-size: 45px;
    float: left;
    width: 218px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    margin: 2px;
    color: white;
    background-color: red;
    box-shadow: 1px 1px black;
}